.pict {
    width: 100%;
}

.key {
    font-size: 0.6rem;
    font-weight: 800;
}

.value {
    font-size: 0.7rem;
    font-style: normal;
}

.warning {
    background-color: rgba(255, 0, 0, 0.3);
    transition: background-color 0.5s;

}

